body{
  background-image: url(photo/books.jpeg); background-size:cover;
  background-repeat: no-repeat;
  height: 1000px;
  padding:25px;


}
h1{
  color:blueviolet;
  text-align:center;
}
em{
  color:purple;
  font-size: 18x;
}
strong{
  color:purple;
  font-size:18px;
}
/*start of the styling the navigation bar of my portfolio website*/
nav ul{
  
  margin: 0 ;
  padding: 0;
 background-color:white;
  list-style-type:none;
}
nav>ul{
 display:inline-block;
 width:1250px
}
 nav ul li{
text-align:right;
padding:14px 16px;
text-decoration:none;
}
nav ul li {
  float:left;
}
nav ul li a{
 display:inline-block;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
}
nav ul li:hover{
 background-color:#c0c0c0;
}
/*end of the styling the navigation bar*/
img{
  height:50;
  width:45;
  border-radius:500px;
}
/*styling footer*/
.footer{
  position: fixed;
  text-align: center;
  color:black;
  width: 100%;
  background-color: whitesmoke;
  margin:top;
  left: 0;
  bottom: 0;

}
/* end of styling footer*/
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;    
}
img {
  border: 1px solid #ddd;
  border-radius: 350px;
  padding: 5px;
  width: 350px;

}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}



